---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@mixin mq($point) {
    @include bp($point) {@content;}
}

@mixin bp($point) {
    @if ($point == desktop) {
      @media (min-width:64em) {@content;}
    } @elseif ($point == tablet) {
      @media (min-width:54em) {@content;}
    } @elseif ($point == mobile) {
      @media (max-width:53.99999em) {@content;}
    }
}

@mixin content-padding-full {
  padding: 72px 96px 64px 96px;

  @media screen and (max-width: 640px) {
    padding: 32px;
  }
}

@mixin content-padding {
  padding-left: 96px;
  padding-right: 96px;

  @media screen and (max-width: 640px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@mixin display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin wrapper-border {
  border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
}

@mixin easeinout-transition($duration) {
  -webkit-transition: all $duration ease-in-out;
  -ms-transition: all $duration ease-in-out;
  -moz-transition: all $duration ease-in-out;
  -o-transition: all $duration ease-in-out;
  transition: all $duration ease-in-out;
}

$base-font-family: "Optimist", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family-thin: "Optimist Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family-extra-thin: "Optimist Extra Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family-semibold: "Optimist SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;

$base-font-size:   16px;
$smaller-base-font-size: 14px;
$mobile-base-font-size: 13px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #4a4a4a;
$background-color: #004977;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;
$content-width-wide:    1140px;

$responsive-breakpoint: 1000px;

$baseurl: "{{ site.baseurl }}";


/*
Global values
*/
$gutter: 5px;
$desktop-body-width: 54em;
$tablet-body-width: 48em;
$c1-blue: #004977;
$c1-cyan: #008bc1;
$c1-red: #d12e32;
$c1-green: #00a400;
$c1-yellow: #f8cc01;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"base",
  "button",
  "nav",
  "page",
  "post",
  "index",
  "footer",
  "about",
  "charities",
  "blog"
;
