---
layout: default
---
<div id="blog" class="gtc-page">
  <div id="page-header" class="fade-in">
    <h1 id="page-title">Digital for Good</h1>
    <p id="page-subtitle">The headquarters for stories, inspiration and hackathon talk.</p>
  </div>

  <div id="blog-posts">
    {% assign featuredPostCount = 4 %}
    {% assign postCounter = 0 %}
    {% assign showArchiveTitle = true %}

    {% for post in site.posts %}
      {% if post.visible and post.category != 'eshop'%}
        {% unless post.categories contains 'charities' %}
          {% if postCounter == 1 %}
          <div id="blog-featured-columned">
            <a href="{{ site.baseurl }}{{ post.url }}" class="highlighted-story fade-in-from-bottom" {% if post.featuredImage %} style="background-image: url({{ site.baseurl }}{{ post.featuredImage }}); background-size: cover; background-position: center center;" {% endif %}>
              <div class="post-gradient-overlay"></div>
              <h2 class="featured-post-title">{{ post.featuredTitle }} <span id="link-moving-chevron">&rsaquo;</span></h2>
            </a>
          {% elsif postCounter == 2 %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="highlighted-story fade-in-from-bottom" {% if post.featuredImage %} style="background-image: url({{ site.baseurl }}{{ post.featuredImage }}); background-size: cover; background-position: center center;" {% endif %}>
              <div class="post-gradient-overlay"></div>
              <h2 class="featured-post-title">{{ post.featuredTitle }} <span id="link-moving-chevron">&rsaquo;</span></h2>
            </a>
          </div>
          {% elsif postCounter == 0 or postCounter == 3 %}
          <a href="{{ site.baseurl }}{{ post.url }}" id="blog-featured-highlight" class="highlighted-story fade-in-from-bottom" {% if post.featuredImage %} style="background-image: url({{ site.baseurl }}{{ post.featuredImage }}); background-size: cover; background-position: center center;" {% endif %}>
            <div class="post-gradient-overlay"></div>
            <h2 class="featured-post-title">{{ post.featuredTitle }} <span id="link-moving-chevron">&rsaquo;</span></h2>
          </a>
          {% else %}
            <!-- Archive post format -->
            {% if showArchiveTitle == true %}
              <h2 id="archived-title" class="anchored-title">Archive</h2>
              {% assign showArchiveTitle = false %}
            {% endif %}
            <div class="archive-post">
              <p class="archive-post-identifier">{{ post.date | date: "%m.%d.%Y" }}</p>

              <div class="archive-post-title">
                <h3>{{ post.title }}</h3>
                <a href="{{ site.baseurl }}{{ post.url }}" class="archive-post-url">View Story <span id="link-moving-chevron">&rsaquo;</span></a>
              </div>
            </div>
          {% endif %}
          {% assign postCounter = postCounter | plus: 1 %}
        {% endunless %}
      {% endif %}
    {% endfor %}
  </div>

  <div id="blog-legal">
    <p>
      The opinions expressed on this website are those of the individual and don’t necessarily represent those of Capital One. No representations or warranties are made as to any opinions, information, code, software, or any other content provided on this website.
    </p>
  </div>
</div>
