---
layout: blog
---

  <section id="post_list">
    <div class="page">
    <section id="main">
      {% for post in site.posts %}
      {% if post.visible == true %}
		<div class="page">
			<section class="main">
				<div>
					<header class="page-header center">
						<h1 class="center">{{ post.title }}</h1>
						<time>
							<p style="margin-bottom: 15px; margin-top: -20px;">{{ post.date | date: "%B %-d, %Y" }}</p>
						</time>
					</header>
					<article class="page-content">
						{{ post.excerpt }}
				        {% if post.content contains '<!--more-->' %}
					        <a href="{{ post.url | prepend: site.baseurl }}" class="read_more">Read More</a>
        				{% endif %}
					</article>
				</div>
			</section>
		</div>
      {% endif %}
      {% endfor %}
    </section>
    </div>
  </section>

<br /><br />