---
layout: default
---
<div id="blog" class="gtc-page">
  <div id="page-header">
    <h1 id="page-title">Digital for Good</h1>
    <p id="page-subtitle">The headquarters for updates, stories and hackathon talk.</p>
  </div>

  <div id="featured">
    {% assign featuredPostCount = 4 %}
    {% assign postCounter = 0 %}

    {% for post in site.posts %}
    {% if post.featured == true %}
      {% if postCounter == featuredPostCount %}
        {% break %}
      {% endif %}

      {% if postCounter == 1 %}
      <div id="blog-featured-columned">
        <a href="{{ post.url }}" class="highlighted-story" {% if post.featuredImage %} style="background-image: url({{ site.baseurl }}{{ post.featuredImage }}); background-size: cover; background-position: center center;" {% endif %}>
          <div class="post-gradient-overlay"></div>
          <p class="anchored-title">Story</p>
          <h2 class="featured-post-title">{{ post.title }} <span id="link-moving-chevron">&rsaquo;</span></h2>
        </a>
      {% elsif postCounter == 2 %}
        <a href="{{ post.url }}" class="highlighted-story" {% if post.featuredImage %} style="background-image: url({{ site.baseurl }}{{ post.featuredImage }}); background-size: cover; background-position: center center;" {% endif %}>
          <div class="post-gradient-overlay"></div>
          <p class="anchored-title">Story</p>
          <h2 class="featured-post-title">{{ post.title }} <span id="link-moving-chevron">&rsaquo;</span></h2>
        </a>
      </div>
      {% else %}
      <a href="{{ post.url }}" id="blog-featured-highlight" class="highlighted-story" {% if post.featuredImage %} style="background-image: url({{ site.baseurl }}{{ post.featuredImage }}); background-size: cover; background-position: center center;" {% endif %}>
        <div class="post-gradient-overlay"></div>
        <p class="anchored-title">Story</p>
        <h2 class="featured-post-title">{{ post.title }} <span id="link-moving-chevron">&rsaquo;</span></h2>
      </a>
      {% endif %}

      {% assign postCounter = postCounter | plus: 1 %}
    {% endif %}
    {% endfor %}
  </div>

  <div id="archived">
    <h2 class="anchored-title">Archive</h2>
    {% for post in site.posts %}
    {% if post.visible == true and post.featured == false or post.featured == null %}
    <div class="archive-post">
      <p class="archive-post-identifier">{{ post.date | date: "%m.%-d.%Y"}}</p>

      <div class="archive-post-title">
        <h3>{{ post.title }}</h3>
        <a href="{{ post.url }}" class="archive-post-url">View Story <span id="link-moving-chevron">&rsaquo;</span></a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <div id="blog-legal">
    <p>
      The opinions expressed on this website are those of the individual and don’t necessarily represent those of Capital One. No representations or warranties are made as to any opinions, information, code, software, or any other content provided on this website.
    </p>
  </div>
</div>
