---
layout: default
---
<div id="eshop" class="gtc-page">
  <div id="page-header" class="fade-in" style="padding-bottom: 0px;">
    <h1 id="page-title">eShop</h1>
    <p id="page-subtitle">More to share!
      </div>

    <div id="page-leadin-content" class="fade-in" style="font-size:18px;padding-bottom: 24px;">
        <p>
            The code we develop at Gift the Code hackathons can be used anywhere — totally free. The e-Shop is a collaborative space where everyone is welcome to share and contribute to the open-source content created during our hackathons. Browse through the amazing solutions we have created so far!
        </p>
    </div>

  <div id="eshop-posts">
    {% assign featuredPostCount = 6 %}
    {% assign postCounter = 0 %}
    {% assign showArchiveTitle = true %}
    <!-- working code-->
      {% assign sortedPosts = site.posts | sort: 'number' %}
    {% for post in sortedPosts %}
    {% if post.visible and post.category == 'eshop' %}
      {% if postCounter == 0 or postCounter == 2 or postCounter == 4%}
          <div id="blog-featured-column-flex" class="fade-in-from-bottom">
              <a href="{{ post.github }}" class="highlighted-story-epost" {% if post.featuredImage %} style="background-image: url({{ site.baseurl }}{{ post.featuredImage }}); background-size: cover; background-position: center center;" {% endif %}>
                  <div class="winner-container">
                      <div>
                          <h3 class="anchored-title" style="margin-bottom: 0px;margin-top:12px;">2017 Implementation Winner</h3>
                          <h2 class="featured-post-title-eshop">{{ post.featuredTitle }}</h2>
                      </div>
                      <img class="winner-image" src="{{ site.baseurl }}/assets/img/2017/GTC2017_WS_Trophy_Icon.png" />
                  </div>
                  <h3 class="featured-post-description-eshop">{{ post.description }} </h3><br/><br/>
                  <h3 class="featured-post-link-eshop">Github Link <span id="link-moving-chevron">&rsaquo;</span></h3>
              </a>
              {% elsif postCounter == 1 or postCounter == 3 or postCounter == 5 %}
              <a href="{{ post.github }}" class="highlighted-story-epost" {% if post.featuredImage %} style="background-image: url({{ site.baseurl }}{{ post.featuredImage }}); background-size: cover; background-position: center center;" {% endif %}>
                  <div class="winner-container">
                      <div>
                          <h3 class="anchored-title" style="margin-bottom: 0px;margin-top:12px;">2017 Implementation Winner</h3>
                          <h2 class="featured-post-title-eshop">{{ post.featuredTitle }}</h2>
                      </div>
                      <img class="winner-image" src="{{ site.baseurl }}/assets/img/2017/GTC2017_WS_Trophy_Icon.png" />
                  </div>
                  <h3 class="featured-post-description-eshop">{{ post.description }} </h3><br/><br/>
                  <h3 class="featured-post-link-eshop">Github Link <span id="link-moving-chevron">&rsaquo;</span></h3>
              </a>
          </div>
          {% else %}
          <!-- Archive post format -->
          {% if showArchiveTitle == true %}
          <!--<h2 id="archived-title" class="anchored-title"></h2>-->
          {% assign showArchiveTitle = false %}
          {% endif %}
          <div class="archive-post-eshop">
            <div class="archive-post-title">
                <h4 class="solution-detail-title">{{ post.title }}</h4>
              <p class="solution-detail-summary">{{ post.description }}</p>
              <a href="{{ post.github }}" class="archive-post-link">Github Link <span id="link-moving-chevron">&rsaquo;</span></a>
            </div>
          </div>
          {% endif %}
              {% assign postCounter = postCounter | plus: 1 %}
      {% endif %}
    {% endfor %}

  </div>
</div>
