---
permalink: /resources/
layout: default_contentonly
---
<div class="page">
<section id="main">
	<header class="page-header">
		<h1 class="center">Resources</h1>
	</header>
	<article class="page-content">
	<p>We will be releasing more resources specific to the Charity Challenges as the hackathon nears. Stay tuned!</p>
	</article>
{% assign resources = site.resources | sort: 'date' %}
{% for resource in resources %}
{% if resource.visible == true %}
<div>
	<section class="main">
		<div>
			<header id="{{ resource.rid }}" class="page-header">
				<h2>{{ resource.title }}</h2><a
			</header>
			<article class="page-content resource-content">
				{{ resource.content }}
			</article>
		</div>
	</section>
</div>
{% endif %}
{% endfor %}
</section>
</div>
