<footer>
  <div id="content">
    <div id="links">
      <!-- <ul>
        <li><a href="">Charities</a></li>
        <li><a href="">Blog</a></li>
      </ul>

      <ul>
        <li><a href="">eShop</a></li>
        <li><a href="">Archives</a></li>
      </ul> -->

      <ul id="social-links">
        <li id="social-marks"><a href="https://www.facebook.com/GifttheCode/"><img src="{{ site.baseurl }}/assets/img/2017/Facebook.png" /></a></li>
        <li id="social-marks"><a href="https://twitter.com/@giftthecode"><img src="{{ site.baseurl }}/assets/img/2017/Twitter.png" /></a></li>
        <li id="social-marks"><a href="https://www.instagram.com/giftthecode/"><img src="{{ site.baseurl }}/assets/img/2017/Instagram.png" /></a></li>
      </ul>
    </div>

    <div id="social">
      <a href="{{ site.baseurl }}"><img id="nav-cof-logo" src="{{ site.baseurl }}/assets/img/cof_logo_white.png"></a>
    </div>
  </div>

  <hr />

  <div id="legal">
    <p id="copyright">
      Capital One is a registered trademark of Capital One Financial Corporation, used under license.
      All trademarks used herein are owned by the respective entities. &copy; 2017 Capital One. All rights reserved.
    </p>

    <ul id="legal-links">
      <li><a href="http://www.capitalone.ca/about/privacy">Privacy Policy</a></li>
      <li><a href="http://www.capitalone.ca/about/terms-of-use/">Terms of Use</a></li>
      <li><a href="">Rules and Regulations</a></li>
    </ul>
  </div>
</footer>
