<footer>
	<div class="wrapper">
		<div class="content">
			<div class="logo-wrapper">
				<img class="logo" src="{{ site.baseurl }}/assets/img/cof_logo.png" />
			</div>
			<div class="legal-wrapper">
				<p>
					Capital One is a registered trademark of Capital One Financial Corporation, used under license.
					All trademarks used herein are owned by the respective entities.
					&copy; 2016 Capital One. All rights reserved.
				</p>
				<br />
				<p><a href="http://www.capitalone.ca/about/privacy" target="_blank">Privacy Policy</a>&nbsp;&nbsp; | &nbsp;&nbsp;<a href="http://www.capitalone.ca/about/terms-of-use/" target="_blank">Terms of Use</a></p>
			</div>
		</div>
	</div>
</footer>