<footer>
  <div id="content">
    <div id="links">
      <!-- <ul>
        <li><a href="">Charities</a></li>
        <li><a href="">Blog</a></li>
      </ul>

      <ul>
        <li><a href="">eShop</a></li>
        <li><a href="">Archives</a></li>
      </ul> -->
    </div>

    <div id="social">
      <a href=""><img id="nav-cof-logo" src="{{ site.baseurl }}/assets/img/cof_logo.png"></a>
      <ul>
        Social Media
      </ul>
    </div>
  </div>

  <hr />

  <div id="legal">
    <p>Copyright &copy; 2017 Capital One. All rights reserved</p>

    <ul>
      <li><a href="">Legal</a></li>
      <li><a href="">Terms of Use</a></li>
      <li><a href="">Tech Blog</a></li>
    </ul>
  </div>
</footer>
