<div id="nav-expanded">
  <div id="nav-menu-links-wrapper">
    <div id="nav-menu-links">
      <a id="nav-about" href="{{ site.baseurl }}/about">About</a>
      <a id="nav-charities" href="{{site.baseurl}}/charities">Charities</a>
      <a id="nav-blog" href="{{site.baseurl}}/blog">Digital for Good</a>
      <a id="nav-menu-register" class="button button__primary-inversed" href="https://www.hackworks.com/gtc17">Register Now  <span id="link-moving-chevron">&rsaquo;</span></a>
    </div>
  </div>
</div>
