<div id="nav-expanded">
  <div id="nav-menu-links">
    <a href="{{site.baseurl}}/about">About</a>
    <a href="{{site.baseurl}}/charities">Charities</a>
    <a href="{{site.baseurl}}/blog">Blog</a>
  </div>

  <div id="nav-extras">
    <ul id="misc">
      <li><a href="{{site.baseurl}}/about">Media Room</a></li>
      <li><a href="{{site.baseurl}}/charities">eShop</a></li>
      <li><a href="{{site.baseurl}}/blog">Archives</a></li>
    </ul>

    <div>
      <p>Logo</p>
      <p>Social Media</p>
    </div>
  </div>

  <div id="nav-footer">
    <p>Copyright &copy; 2017 Capital One. All rights reserved</p>

    <ul id="footer-links">
      <li><a href="">Legal</a></li>
      <li><a href="">Terms of Use</a></li>
      <li><a href="">Tech Blog</a></li>
    </ul>
  </div>
</div>
