<div id="hamburger">
  <div class="menu hide">
    <div class="wrapper">
      <div class="logo"><img src="{{ site.baseurl }}/assets/img/2016/logo-capone-hack-lockup.png" /></div>
      <a href="{{ site.baseurl }}/2016/"><div class="item">
        HOME
      </div></a>
      <a href="{{ site.baseurl }}/2016/blog/"><div class="item">
        BLOG
      </div></a>
      <a href="{{ site.baseurl }}/2016/resources/"><div class="item">
        RESOURCES
      </div></a>
      <a href="https://www.hackworks.com/giftthecode/faq" target="_blank"><div class="item">
        FAQ
      </div></a>
    </div>
    <div class="close-menu">X</div>
  </div>
  <div class="button">
    <img src="{{ site.baseurl }}/assets/img/2016/hamburger.png" />
  </div>
</div>

<section id="nav" class="full-width">
	<img class="top-left" src="{{ site.baseurl }}/assets/img/2016/brainstation-log-sm.png" />
  <div class="wrapper">
    <a href="{{ site.baseurl}}/2016/">HOME</a>
    <a href="{{ site.baseurl }}/2016/blog/">BLOG</a>
    <a href="{{ site.baseurl }}/2016/resources/">RESOURCES</a>
    <a href="https://www.hackworks.com/giftthecode/faq" target="_blank">FAQ</a>
  </div>
  <a class="top-right sign-up" href="https://www.hackworks.com/giftthecode" target="_blank"><div>Sign Me Up</div></a>
</section>
