/*
font-face
*/
@font-face {
	font-family: "Optimist";
	src: url('../assets/fonts/Optimist_W_Rg.eot?1404762668');
	src: url('../assets/fonts/Optimist_W_Rg.eot?&1404762668#iefix') format('embedded-opentype'), url('../assets/fonts/Optimist_W_Rg.woff?1404762668') format('woff'), url('../assets/fonts/Optimist_W_Rg.ttf?1404762668') format('truetype'), url('../assets/fonts/Optimist_W_Rg.svg?1404762668') format('svg');
}
@font-face {
	font-family: "Optimist Thin";
	src: url('../assets/fonts/Optimist_W_Lt.eot?1404921104');
	src: url('../assets/fonts/Optimist_W_Lt.eot?&1404921104#iefix') format('embedded-opentype'), url('../assets/fonts/Optimist_W_Lt.woff?1404921104') format('woff'), url('../assets/fonts/Optimist_W_Lt.ttf?1404921104') format('truetype'), url('../assets/fonts/Optimist_W_Lt.svg?1404921104') format('svg');
}
@font-face {
	font-family: "Optimist SemiBold";
	src: url('../assets/fonts/Optimist_W_SBd.eot?1404919754');
	src: url('../assets/fonts/Optimist_W_SBd.eot?&1404919754#iefix') format('embedded-opentype'), url('../assets/fonts/Optimist_W_SBd.woff?1404919754') format('woff'), url('../assets/fonts/Optimist_W_SBd.ttf?1404919754') format('truetype'), url('../assets/fonts/Optimist_W_SBd.svg?1404919754') format('svg');
}
@font-face {
	font-family: "Optimist Extra Thin";
	src: url('../assets/fonts/Optimist_W_XLt.eot');
	src: url('../assets/fonts/Optimist_W_XLt.eot') format('embedded-opentype'), url('../assets/fonts/Optimist_W_XLt.woff') format('woff'), url('../assets/fonts/Optimist_W_XLt.ttf') format('truetype'), url('../assets/fonts/Optimist_W_XLt.svg') format('svg');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/**
 * Links
 */
a {
	@include easeinout-transition(200ms);
  text-decoration: none;

	#link-moving-chevron {
		display: inline-block;
		margin-left: 16px;
	}

  &:hover {
		opacity: 0.7;
		cursor: pointer;

		#link-moving-chevron {
			@include easeinout-transition(200ms);
			transform: translateX(24px);
		}
  }
}

html,
body {
	height: 100%;
	min-height: 100%;
}

body
{
    @include mq(mobile) {
      font: $base-font-weight #{$mobile-base-font-size}/#{$base-line-height} $base-font-family;
    }
    @include mq(tablet) {
      font: $base-font-weight #{$smaller-base-font-size}/#{$base-line-height} $base-font-family;
    }
    @include mq(dekstop) {
      font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    }
    color: $text-color;
    background-color: #e7e7e7;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

.body-wrapper {
	@include wrapper-border;
	min-height: 100%;
	width: $content-width;
	margin: 0 auto;
	position: relative;

	@media screen and (max-width: 1200px) {
		width: 85%;
	}

	@media screen and (max-width: 960px) {
		width: 100%;
		padding: 0;
	}
}

.page-content {
	min-height: 100%;
	padding-top: 88px; /* Offset header height */
}

.disable-scroll {
	overflow: hidden;
}

#page-blogcta {
  @include display-flex;
  height: 250px;
  width: 100%;
  background-color: #aaa;
  justify-content: center;
  align-items: center;

  a {
    @include display-flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 72px;
    padding-right: 64px;
    color: white;
    flex: 1;
    cursor: pointer;
		background-image: url("/assets/img/2017/blog-polygon-bg.png");
		background-position: center;

    h2 {
      font-family: $base-font-family;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 5px;
    }

    p {
      font-family: $base-font-family-extra-thin;
      font-size: 24px;
      margin-top: 16px;
    }
  }
}

/* Common Keyframe Animations */
.fade-in {
	animation: fade-in 1000ms;
	animation-fill-mode: both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
