/*
font-face
*/
@font-face {
	font-family: "Optimist";
	src: url('../assets/fonts/Optimist_W_Rg.eot?1404762668');
	src: url('../assets/fonts/Optimist_W_Rg.eot?&1404762668#iefix') format('embedded-opentype'), url('../assets/fonts/Optimist_W_Rg.woff?1404762668') format('woff'), url('../assets/fonts/Optimist_W_Rg.ttf?1404762668') format('truetype'), url('../assets/fonts/Optimist_W_Rg.svg?1404762668') format('svg');
}
@font-face {
	font-family: "Optimist Thin";
	src: url('../assets/fonts/Optimist_W_Lt.eot?1404921104');
	src: url('../assets/fonts/Optimist_W_Lt.eot?&1404921104#iefix') format('embedded-opentype'), url('../assets/fonts/Optimist_W_Lt.woff?1404921104') format('woff'), url('../assets/fonts/Optimist_W_Lt.ttf?1404921104') format('truetype'), url('../assets/fonts/Optimist_W_Lt.svg?1404921104') format('svg');
}
@font-face {
	font-family: "Optimist SemiBold";
	src: url('../assets/fonts/Optimist_W_SBd.eot?1404919754');
	src: url('../assets/fonts/Optimist_W_SBd.eot?&1404919754#iefix') format('embedded-opentype'), url('../assets/fonts/Optimist_W_SBd.woff?1404919754') format('woff'), url('../assets/fonts/Optimist_W_SBd.ttf?1404919754') format('truetype'), url('../assets/fonts/Optimist_W_SBd.svg?1404919754') format('svg');
}
@font-face {
	font-family: "Optimist Extra Thin";
	src: url('../assets/fonts/Optimist_W_XLt.eot');
	src: url('../assets/fonts/Optimist_W_XLt.eot') format('embedded-opentype'), url('../assets/fonts/Optimist_W_XLt.woff') format('woff'), url('../assets/fonts/Optimist_W_XLt.ttf') format('truetype'), url('../assets/fonts/Optimist_W_XLt.svg') format('svg');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/**
 * Links
 */
a {
	@include easeinout-transition(200ms);
  text-decoration: none;

  &:hover {
		opacity: 0.7;
		cursor: pointer;
  }
}

html,
body {
	height: 100%;
	min-height: 100%;
}

body
{
    @include mq(mobile) {
      font: $base-font-weight #{$mobile-base-font-size}/#{$base-line-height} $base-font-family;
    }
    @include mq(tablet) {
      font: $base-font-weight #{$smaller-base-font-size}/#{$base-line-height} $base-font-family;
    }
    @include mq(dekstop) {
      font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    }
    color: $text-color;
    background-color: white;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

.page-content {
	min-height: 100%;
	background-color: #e7e7e7;
}

.body-wrapper {
	height: 100%;
	min-height: 100%;
	width: $content-width;
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
	margin: 0 auto;

	@media screen and (max-width: 1200px) {
		width: 85%;
	}
}

.disable-scroll {
	overflow: hidden;
}

/* Common Keyframe Animations */
.fade-in {
	animation: fade-in 1000ms;
	animation-fill-mode: both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
