/*
font-face
*/
@font-face {
	font-family: "Optimist";
	src: url('../assets/fonts/Optimist_W_Rg.eot?1404762668');
	src: url('../assets/fonts/Optimist_W_Rg.eot?&1404762668#iefix') format('embedded-opentype'), url('../assets/fonts/Optimist_W_Rg.woff?1404762668') format('woff'), url('../assets/fonts/Optimist_W_Rg.ttf?1404762668') format('truetype'), url('../assets/fonts/Optimist_W_Rg.svg?1404762668') format('svg');
}
@font-face {
	font-family: "Optimist Thin";
	src: url('../assets/fonts/Optimist_W_Lt.eot?1404921104');
	src: url('../assets/fonts/Optimist_W_Lt.eot?&1404921104#iefix') format('embedded-opentype'), url('../assets/fonts/Optimist_W_Lt.woff?1404921104') format('woff'), url('../assets/fonts/Optimist_W_Lt.ttf?1404921104') format('truetype'), url('../assets/fonts/Optimist_W_Lt.svg?1404921104') format('svg');
}
@font-face {
	font-family: "Optimist SemiBold";
	src: url('../assets/fonts/Optimist_W_SBd.eot?1404919754');
	src: url('../assets/fonts/Optimist_W_SBd.eot?&1404919754#iefix') format('embedded-opentype'), url('../assets/fonts/Optimist_W_SBd.woff?1404919754') format('woff'), url('../assets/fonts/Optimist_W_SBd.ttf?1404919754') format('truetype'), url('../assets/fonts/Optimist_W_SBd.svg?1404919754') format('svg');
}
@font-face {
	font-family: "Optimist Extra Thin";
	src: url('../assets/fonts/Optimist_W_XLt.eot');
	src: url('../assets/fonts/Optimist_W_XLt.eot') format('embedded-opentype'), url('../assets/fonts/Optimist_W_XLt.woff') format('woff'), url('../assets/fonts/Optimist_W_XLt.ttf') format('truetype'), url('../assets/fonts/Optimist_W_XLt.svg') format('svg');
}


/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

body
{
    @include mq(mobile) {
      font: $base-font-weight #{$mobile-base-font-size}/#{$base-line-height} $base-font-family;
    }
    @include mq(tablet) {
      font: $base-font-weight #{$smaller-base-font-size}/#{$base-line-height} $base-font-family;
    }
    @include mq(dekstop) {
      font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    }
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}


/**
 * Call to Action 2017
 */

div#main-page
{

  /* positional */
  max-width: 1366px;
  min-height: 768px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;

  /* flow the children */
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}

div#gtc-header
{
  /* positional */
  max-width: 100%;
  min-height: 100px;

  div#gtc-sign-up
  {
    color: #ffffff;
    font-family: "Optimist Thin";
    font-size: 1.3em;
    text-align: center;
    cursor: pointer;

    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 8px;
    box-shadow: 0px 3px 6.86px 0.14px rgba(0, 0, 0, 0.16);
    width: 155px;
    height: 30px;

    float: right;
  }
}

div#gtc-main
{
  /* positional */
  max-width: 100%;
  min-height: 508px;
  margin: 50px 0 50px 0;

  /* flow the children */
  display: -webkit-flex;
  -webkit-flex-direction: row wrap;
  display: flex;
  flex-direction: row wrap;

  div#gtc-call-out
  {
    -webkit-order: 1;
    order: 1;
    width: 95%;

    padding-left: 5%;

    /* flow the children */
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;

    div#gtc-slider
    {
      width: 80%;
      font-family: "Optimist SemiBold";
      color: #ffffff;
      font-size: 6em;
      padding-bottom: 50px;
    }

    div#gtc-static
    {
      width: 80%;
      overflow: wrap;

      div#gtc-static-emph
      {
        font-family: "Optimist SemiBold";
        color: #ffffff;
        font-size: 2.4em;
      }

      div#gtc-static-no-miss
      {
        font-family: "Optimist Thin";
        color: #ffffff;
        font-size: 2.2em;
      }
    }
  }

  div#gtc-nav
  {
    -webkit-order: 2;
    order: 2;
    margin: auto auto auto 0;

    /* flow the children */
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;

    img
    {
       cursor: pointer;
    }
  }
}

div#gtc-footer
{
  /* positional */
  max-width: 100%;
  max-height: 60px;

  /* flow the children */
  display: -webkit-flex;
  -webkit-flex-direction: row wrap;
  -webkit-justify-content: space-between;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;

  div#gtc-social
  {
    -webkit-order: 1;
    order: 1;
    img
    {
      padding-right: 15px;
    }
  }

  div#gtc-legal
  {
    -webkit-order: 2;
    order: 2;

    font-family: "Optimist Thin";
    color: #ffffff;
    font-size: 1em;
    padding-bottom: 50px;

    a
    {
       font-weight: bold;
       color: #ffffff;
    }
  }

  div#gtc-logo
  {
    -webkit-order: 3;
    order: 3;
  }
}

/*
  Mobile Look
*/
@media all and (max-width: 500px)
{

  div#main-page
  {
    max-width: initial;
    min-height: initial;
    margin: initial;
    transform: initial;
    top: initial;
    padding: 0 35px 0 35px;

    /* flow the children */
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
  }
  
  div#gtc-header
  {
    -webkit-order: 1;
    order: 1;

    /* reset values */
    max-width: initial;
    min-height: initial;
    margin: 0 0 25px 0;
  }

  div#gtc-main
  {
    -webkit-order: 2;
    order: 2;

    /* reset values */
    max-width: initial;
    min-height: initial;
    margin: initial;

    /* flow the children */
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
  
    div#gtc-call-out
    {
      -webkit-order: 1;
      order: 1;
      width: initial;
  
      padding-left: 5%;
  
      /* flow the children */
      display: -webkit-flex;
      -webkit-flex-direction: column;
      display: flex;
      flex-direction: column;
  
      div#gtc-slider
      {
        width: initial;
        font-size: 2em;
        padding-bottom: 20px;
      }
  
      div#gtc-static
      {
        width: initial;
  
        div#gtc-static-emph
        {
          font-size: 1em;
        }
  
        div#gtc-static-no-miss
        {
          font-size: 1em;
        }
      }
    }
  
    div#gtc-nav
    {
      -webkit-order: 2;
      order: 2;
      margin: 40px  auto auto 0;
      width: 100%;
  
      /* flow the children */
      display: -webkit-flex;
      -webkit-flex-direction: row-reverse;
      -webkit-justify-content: space-between;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
  
  div#gtc-footer
  {
    -webkit-order: 3;
    order: 3;

    /* positional */
    max-width: initial;
    max-height: initial;
    margin: 40px 0 40px 0;
  
    /* flow the children */
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
  
    div#gtc-social
    {
      -webkit-order: 1;
      order: 1;
      margin: 0 0 20px 0;
      img
      {
        padding-right: 15px;
      }
    }
  
    div#gtc-legal
    {
      -webkit-order: 2;
      order: 2;
      margin: 0 0 0 0;
  
      font-size: 1em;
      padding-bottom: 50px;

      a
      {
        font-size: .7em;
      }

      div
      {
        padding-top: 15px;
      }
    }
  
    div#gtc-logo
    {
      -webkit-order: 3;
      order: 3;
    }
  }
}


/*
 Rules and Regs
*/

.page-content
{
  color: #ffffff;
}

#main
{
  font-size: 1.5em;
  padding: 50px;
  max-width: 1366px;
  margin: auto;
  left: 0;
  right: 0;

  h1
  {
    text-align: center;
    font-size: 3em;
  }

  h2
  {
    text-align: center;
    font-size: 2em;
  }

  a
  {
    color: #ffffff;
    font-weight: bold;
  }

  #gtc-footer
  {
    padding-top: 50px;
  }
}

@media all and (max-width: 500px)
{
  #main
  {
    font-size: 1em;
    padding: 20px;
    max-width: initial;

    h1
    {
      text-align: center;
      font-size: 1.5em;
    }

    h2
    {
      text-align: center;
      font-size: 1.3em;
    }
  }
}  
