#blog {
  #featured {
    @include content-padding;

    .highlighted-story {
      @include display-flex;
      display: block;
      justify-content: flex-end;

      /* Safari 4-5, Chrome 1-9 */
      background: -webkit-gradient(linear, top top, bottom bottom, from(rgba(255,255,255,0.1)), to(rgba(25,25,25,0.35)));
      /* Safari 5.1, Chrome 10+ */
      background: -webkit-linear-gradient(top, rgba(255,255,255,0.1), rgba(25,25,25,0.35));
      /* Firefox 3.6+ */
      background: -moz-linear-gradient(top, rgba(255,255,255,0.1), rgba(25,25,25,0.35));
      /* IE 10 */
      background: -ms-linear-gradient(top, rgba(255,255,255,0.1), rgba(25,25,25,0.35));
      /* Opera 11.10+ */
      background: -o-linear-gradient(top, rgba(255,255,255,0.1), rgba(25,25,25,0.35));

      .anchored-title {
        color: white;
      }
    }

    #blog-featured-highlight {
      height: 300px;
      width: 100%;
      background-color: #fafafa;
    }

    #blog-featured-columned {
      @include display-flex;
      height: 300px;
      width: 100%;
      flex-direction: row;

      a {
        background-color: #777;
        flex: 1;
      }
    }

    a:hover {
      @include easeinout-transition(350ms);
      box-shadow: 0px 2px 2px 0px rgba(25, 25, 25, 0.5);
      transform: scale(1.01);
    }
  }

  #archived {
    @include content-padding;

    .blog-image {
      font-family: Optimist Extra Thin;
      opacity: 1;
      width: 100%;
      height: auto;
    }
  }
}
