.button {
  @include easeinout-transition(250ms);
  display: block;
  text-align: center;
  padding: 8px 16px 8px 16px;
  border-radius: 5em;
  font-family: $base-font-family-thin;
  font-size: 12px;
  background-color: #fff;
  color: $text-color;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  &:hover {
    opacity: 1;
    box-shadow: 0px 1px 2px 1px rgba(35,35,35,0.45);
    transform: scale(1.02);
  }
}

.button__primary {
  /* Fallback */
  background-color: #04506B;
  color: #fff;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#04506B), to(#018BBB));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #04506B, #018BBB);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #04506B, #018BBB);
  /* IE 10 */
  background: -ms-linear-gradient(left, #04506B, #018BBB);
  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #04506B, #018BBB);
}

/* Specific Button Styles */
#hero-register-cta {
  font-size: 14px;
  width: 160px;
  letter-spacing: 2px;
}
