#charities {
  #charity-banners {
    @include content-padding;
  }

  .charity-content {
    @include easeinout-transition(250ms);
    @include display-flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
    width: 100%;
    font-family: $base-font-family-extra-thin;
    padding: 72px 84px 72px 84px;
    color: white;

    .charity-logo-container {
      align-self: flex-end;
    }

    .charity-info {
      align-self: flex-end;

      .charity-name {
        font: 14px $base-font-family;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .charity-description {
        font-size:20px;
        margin-top: 16px;
      }
    }

    &:hover{
      box-shadow: 0px 2px 2px 0px rgba(25, 25, 25, 0.5);
      transform:scale(1.05);
      text-rendering:optimizeLegibility;
      -webkit-font-smoothing:subpixel-antialiased;
    }
  }

  #charity-cee {
    background-image: linear-gradient(-180deg,#3023AE 25%,#C86DD7 100%);
  }

  #charity-autism {
    background-image: linear-gradient(-180deg, #004977 25%, #26a0da 100%);
  }

  #charity3 {
    background-image: linear-gradient(-180deg, #E02843 0%, #ED7B96 100%);
  }
}
