footer {
  padding: 48px 88px 24px 88px;
  background-color: #004977;
  color: white;

  a {
    color: white;
  }

  #content,
  #legal {
    @include display-flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  #content {
    #links {
      @include display-flex;
      justify-content: space-between;

      ul {
        list-style: none;

        &:last-child {
          margin-left: 72px;
        }

        li {
          &:not(:first-child) {
            margin-top: 16px;
          }
        }
      }
    }

    #nav-cof-logo {
      height: 42px;
      width: auto;
    }

    #social {

    }
  }

  #legal {
    ul {
      list-style: none;

      &:last-child {
        margin-left: 72px;
      }

      li {
        display: inline-block;

        &:not(:first-child) {
          margin-left: 24px;
        }
      }
    }
  }
}
