footer {
  @include easeinout-transition(250ms);
  font-family: $base-font-family-thin;
  padding: 18px 96px 16px 96px;
  color: white;

  background-color: #05172d;
  color: #fff;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, top top, bottom bottom, from(#092544), to(#05172d));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #092544, #05172d);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #092544, #05172d);
  /* IE 10 */
  background: -ms-linear-gradient(top, #092544, #05172d);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #092544, #05172d);

  a {
    color: white;
  }

  #content,
  #legal {
    @include display-flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 32px;
  }

  #content {
    #links {
      @include display-flex;
      justify-content: space-between;

      ul {
        list-style: none;

        li {
          &:not(:first-child) {
            margin-top: 16px;
          }
        }
      }
    }

    #nav-cof-logo {
      height: 42px;
      width: auto;
      margin-top: 12px;
    }

    #social {
      align-self: center;
    }
  }

  #social-links {
    list-style-type: none;

    #social-marks {
      img {
        height: 42px;
        width: auto;
      }

      display: inline-block;

      &:not(:first-child) {
        margin-left: 14px;
      }
    }
  }

  hr {
    border: 0;
    background-color: #979797;
    opacity: 0.7;
    height: 1px;
  }

  #legal {
    #copyright {
      flex-basis: 48%;
      font-size: 12px;
      opacity: 0.6;
    }

    #legal-links {
      flex-basis: 52%;
      text-align: right;
      list-style: none;
      font-size: 12px;

      li {
        display: inline-block;

        &:not(:first-child) {
          margin-left: 12px;
        }
      }
    }
  }
}

footer.fade-in {
  animation-duration: 1750ms;
  animation-delay: 150ms;
}

/* Responsive Styles for Footer */
@media screen and (max-width: 960px) {
  footer {
    padding: 24px 64px 16px 64px;
  }
}

@media screen and (max-width: 840px) {
  footer {
    padding: 24px 32px 16px 32px;

    #legal {
      flex-direction: column-reverse;

      #legal-links {
        margin-bottom: 24px;
        margin-left: 0px;
        text-align: left;

        li {
          margin-left: 0px;
        }
      }
    }

    #social-links {
      list-style-type: none;

      #social-marks {
        img {
          height: 30px;
        }
      }
    }

    #content {
      #nav-cof-logo {
        height: 34px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  footer {
    #legal {
      #legal-links {
        margin-bottom: 14px;

        li:not(:first-child) {
          margin-left: 8px;
        }
      }
    }
  }
}
