#header {
  height: 96px;
  width: 100%;
}

#nav {
  @include display-flex;
  @include easeinout-transition(250ms);
  height: 100%;
  width: 100%;
  font-size: 16px;
  padding-left: 96px;
  padding-right: 96px;
  position: relative;
  z-index: 101;

  a {
    color: $text-color;
  }

  #nav-title,
  #nav-actions {
    @include display-flex;
    height: 100%;
    width: 50%;

    * {
      @include display-flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  #nav-title {
    justify-content: flex-start;
  }

  #nav-actions {
    justify-content: flex-end;

    #hamburger {
      @include display-flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 72px;
    }
  }
}

/* Nav animate in (Only used in index) */
#nav.fade-in {
  animation-duration: 1500ms;
  animation-delay: 500ms; /* Delay until hero loads in */
}

/* Hamburger Menu Style and Animation */
#hamburger {
  @include easeinout-transition(200ms);
  height: 14px;
  width: 32px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  div {
    @include easeinout-transition(250ms);
    height: calc(18px * 0.33);
    width: 100%;
  }

  div:first-child {
    border-top: 3px solid $text-color;
  }

  div:last-child {
    border-bottom: 3px solid $text-color;
  }
}

/* Expand Nav Styling */
#hamburger.animate-x {
  height: 24px;

  div:first-child {
    border-color: white;
    -webkit-transform-origin: left top;
    -ms-transform: rotate(42deg); /* IE 9 */
    -webkit-transform: rotate(42deg); /* Safari */
    transform: rotate(42deg);
  }

  div:last-child {
    border-color: white;
    -webkit-transform-origin: left bottom;
    -ms-transform: rotate(-42deg); /* IE 9 */
    -webkit-transform: rotate(-42deg); /* Safari */
    transform: rotate(-42deg);
  }
}

#nav-expanded {
  @include easeinout-transition(550ms);
  height: 328px;
  width: 100%;
  background-color: #004977;
  position: absolute;
  top: -328px; /* Height of nav */
  padding: 24px 104px 24px 104px;
  z-index: 101;
  color: white;
  font-family: $base-font-family-thin;

  a {
    color: white;
  }
}

#nav-menu-links {
  @include display-flex;
  justify-content: space-around;
  width: 85%;
  margin: auto;
  font-size: 28px;
}

#nav-footer,
#nav-extras {
  @include display-flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 95%;
  margin: auto;
  font-size: 12px;
}

#nav-extras {
  padding-top: 56px;
  padding-bottom: 32px;

  #misc {
    list-style: none;

    li {
      list-style-type: none;
      margin-top: 14px;
    }
  }

  #social {

  }
}

#nav-footer {
  border-top: 1px solid #eee;

  #footer-links {
    list-style: none;

    li {
      list-style-type: none;
      display: inline-block;

      &:not(first-child) {
        margin-left: 12px;
      }
    }
  }
}

/* Nav Menu Expanded Animations */
#nav.show-expanded-nav {
  background-color: #004977;

  a {
    color: white;
  }

  #nav-actions {
    #nav-register {
      display: none;
    }
  }
}

#nav-expanded.show-expanded-nav {
  top: 96px;

  #nav-menu-links {
    animation: fade-in 1000ms;
  	animation-fill-mode: both;
    animation-delay: 300ms;
  }

  #nav-extras {
    animation: fade-in 1000ms;
  	animation-fill-mode: both;
    animation-delay: 500ms;
  }

  #nav-footer {
    animation: fade-in 1000ms;
  	animation-fill-mode: both;
    animation-delay: 600ms;
  }
}

#menu-overlay {
  @include easeinout-transition(500ms);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: none;
  background-color: black;
  z-index: 100;
}

#menu-overlay.show-expanded-nav {
  opacity: 0.7;
  display: block;
}
