#header {
  height: 96px;
  width: 100%;
}

#nav {
  @include display-flex;
  @include easein-transition(10ms);
  height: 100%;
  width: 100%;
  font-size: 16px;
  padding-left: 96px;
  padding-right: 96px;
  position: relative;
  z-index: 101;

  a {
    color: $text-color;
  }

  #nav-title,
  #nav-actions {
    @include display-flex;
    height: 100%;
    width: 50%;

    * {
      @include display-flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  #nav-title {
    justify-content: flex-start;
  }

  #nav-actions {
    justify-content: flex-end;

    #hamburger {
      @include display-flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 72px;
    }
  }
}


/* Hamburger Menu Style and Animation */
#hamburger {
  @include easein-transition(100ms);
  height: 14px;
  width: 32px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  div {
    @include easein-transition(250ms);
    height: calc(18px * 0.33);
    width: 100%;
  }

  div:first-child {
    border-top: 3px solid $text-color;
  }

  div:last-child {
    border-bottom: 3px solid $text-color;
  }
}

/* Expand Nav Styling */
#hamburger.animate-x {
  height: 24px;

  div:first-child {
    border-color: white;
    -webkit-transform-origin: left top;
    -ms-transform: rotate(42deg); /* IE 9 */
    -webkit-transform: rotate(42deg); /* Safari */
    transform: rotate(42deg);
  }

  div:last-child {
    border-color: white;
    -webkit-transform-origin: left bottom;
    -ms-transform: rotate(-42deg); /* IE 9 */
    -webkit-transform: rotate(-42deg); /* Safari */
    transform: rotate(-42deg);
  }
}

#nav-expanded {
  @include easein-transition(350ms);
  height: 256px;
  width: 100%;
  background-color: #004977;
  position: absolute;
  top: -256px; /* Height of nav */
  padding-left: 128px;
  padding-right: 128px;
  z-index: 101;
}

#nav.show-expanded-nav {
  background-color: #004977;

  a {
    color: white;
  }

  #nav-actions {
    #nav-register {
      display: none;
    }
  }
}

#nav-expanded.show-expanded-nav {
  animation: nav-slide-down 350ms;
  top: 96px;
}

#menu-overlay {
  @include easein-transition(250ms);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: none;
  background-color: black;
  z-index: 100;
}

#menu-overlay.show-expanded-nav {
  animation: nav-overlay-show 250ms;
  opacity: 0.7;
  display: block;
}

/* Expanded Nav Content */
#nav-menu-links {
  @include display-flex;
  justify-content: space-around;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 85%;
  margin: auto;

  a {
    color: white;
    font-family: $base-font-family-thin;
    font-size: 24px;
  }
}

/* Animations */
@keyframes nav-slide-down {
  0% {
    top: -256px;
  }

  50% {
    top: 42px;
  }

  100% {
    top: 96px;
  }
}


@keyframes nav-overlay-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.7;
  }
}
