#header {
  height: 88px;
  width: 100%;
  background-color: white;
  position: fixed;
  width: calc(#{$content-width} - 2px); /* Offset by 2px on both sides to account for wrapper-border */
  z-index: 101;
  border-bottom: 1px solid #eaeaea;

  @media screen and (max-width: 1200px) {
		width: calc(85% - 2px);
	}

  @media screen and (max-width: 960px) {
    width: 100%;
  }
}

#header.scrolling {
  box-shadow: 0px 2px 3px 0px rgba(125, 125, 125, 0.5);
}

#nav {
  @include display-flex;
  @include easeinout-transition(250ms);
  height: 100%;
  width: 100%;
  font-size: 14px;
  padding-left: 96px;
  padding-right: 96px;
  position: relative;
  z-index: 101;
  background: white;

  #nav-title-container,
  #nav-menu {
    @include display-flex;
    height: 100%;

    * {
      @include display-flex;
      flex-direction: column;
      justify-content: center;
    }

    #nav-register {
      font-size: 11px;
    }
  }

  #nav-title-container {
    flex-basis: 95%;
    justify-content: space-between;

    #nav-logo {
      height: auto;
      width: 200px;
      margin-top: 8px;
    }
  }

  #nav-menu {
    flex-basis: 5%;
    justify-content: flex-end;

    #hamburger {
      @include display-flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  @media screen and (max-width: 840px) {
    padding-left: 48px;
    padding-right: 48px;
  }
}

/* Nav animate in (Only used in index) */
#nav.fade-in {
  animation-duration: 1500ms;
  animation-delay: 500ms; /* Delay until hero loads in */
}

/* Hamburger Menu Style and Animation */
#hamburger {
  @include easeinout-transition(200ms);
  height: 10px;
  width: 24px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  div {
    @include easeinout-transition(250ms);
    height: calc(18px * 0.33);
    width: 100%;
  }

  div:first-child {
    border-top: 2px solid #008BC1;
  }

  div:last-child {
    border-bottom: 2px solid #008BC1;
  }
}

/* Expand Nav Styling */
#hamburger.animate-x {
  height: 18px;

  div:first-child {
    -webkit-transform-origin: left top;
    -ms-transform: rotate(42deg); /* IE 9 */
    -webkit-transform: rotate(42deg); /* Safari */
    transform: rotate(42deg);
  }

  div:last-child {
    -webkit-transform-origin: left bottom;
    -ms-transform: rotate(-42deg); /* IE 9 */
    -webkit-transform: rotate(-42deg); /* Safari */
    transform: rotate(-42deg);
  }
}

#nav-expanded {
  @include easeinout-transition(550ms);
  height: 138px;
  width: 100%;
  background-color: white;
  position: absolute;
  top: -138px; /* Height of nav */
  z-index: 101;
  color: white;
  visibility: hidden;
  font-family: $base-font-family-thin;
}

#nav-menu-links-wrapper {
  height: 100%;
  background-color: #004977;
  padding: 54px 96px 24px 96px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004977+0,018bbb+100 */
  background: rgb(0,73,119); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(0,73,119,1) 0%, rgba(1,139,187,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0,73,119,1) 0%,rgba(1,139,187,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0,73,119,1) 0%,rgba(1,139,187,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004977', endColorstr='#018bbb',GradientType=1 ); /* IE6-9 */

  #nav-menu-links {
    font-size: 24px;

    a {
      font-family: $base-font-family-extra-thin;
      color: white;

      &:not(:first-child) {
        margin-left: 32px;
      }
    }

    #nav-menu-register {
      display: none;
    }
  }
}

/* Nav Menu Expanded Animations */
#nav-expanded.show-expanded-nav {
  top: 88px;
  visibility: visible;

  #nav-about {
    animation: fade-in 1500ms;
  	animation-fill-mode: both;
    animation-delay: 300ms;
  }

  #nav-charities {
    animation: fade-in 1500ms;
  	animation-fill-mode: both;
    animation-delay: 500ms;
  }

  #nav-blog {
    animation: fade-in 1200ms;
  	animation-fill-mode: both;
    animation-delay: 800ms;
  }

  #nav-menu-register {
    animation: fade-in 1200ms;
  	animation-fill-mode: both;
    animation-delay: 1100ms;
  }
}

#menu-overlay {
  @include easeinout-transition(500ms);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: none;
  background-color: #131313;
  z-index: 100;
}

#menu-overlay.show-expanded-nav {
  opacity: 0.7;
  display: block;
}

/* Responsive Stylings */
@media screen and (max-width: 840px) {
  #nav {
    #nav-title-container {
      flex-basis: 90%;
    }

    #nav-menu {
      flex-basis: 10%;
    }
  }
}

@media screen and (max-width: 640px) {
  #nav {
    padding-top: 32px;
    padding-bottom: 16px;
    justify-content: space-between;

    #nav-title-container {
      flex-direction: column;
      flex-basis: 45%;

      #nav-logo {
        width: 150px;
      }

      #nav-register {
        display: none;
      }
    }
  }

  #nav-menu-links-wrapper {
      padding-top: 32px;

    #nav-menu-links {
      font-size: 26px;

      a {
        display: block;

        &:not(:first-child) {
          margin-left: 0px;
          margin-top: 16px;
        }
      }

      #nav-menu-register {
        display: block;
        margin-top: 24px;
        font-size: 12px;
        width: auto;
        margin-left: -8px;
      }
    }
  }

  #nav-expanded {
    height: auto;
  }
}
