.gtc-page {
  background-color: white;
}

#page-header {
  @include content-padding;
  padding-bottom: 0;

  #page-title {
    font: 42px $base-font-family-extra-thin;
    color: #004977;
  }

  #page-subtitle {
    font: 20px $base-font-family-extra-thin;
    color: #777;
    margin-top: 10px;
    margin-bottom: 16px;
  }
}

#page-leadin-content {
  @include content-padding;
  font: 16px $base-font-family-thin;
  line-height: 32px;
  width: 75%;
}

.page-section-title {
  font: 24px $base-font-family-extra-thin;
  color: #5a5a5a;
  margin-top: 24px;
  margin-bottom: 32px;
}
