.gtc-post {
  @include content-padding;

  #page-header.post-charity {
    #page-title {
      font-size: 42px;
    }

    #page-subtitle {
      font-size: 20px;
    }
  }

  #page-header {
    @include display-flex;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 2em;

    #page-title-container {
      flex-basis: 80%;

      #page-date {
        margin-bottom: 8px;
      }

      #page-title {
        font-size: 26px;
      }

      #page-subtitle {
        font-size: 16px;
        margin-top: 8px;
      }
    }

    #charities-logo-container {
      flex-basis: 20%;
      justify-self: flex-start;
      text-align: right;

      img {
        height: 45px;
        width: auto;
      }
    }
  }
}

/* Article Content */
#article-hero {
  height: auto;
  width: 100%;
}

#article-content-container.post-pullquote-flex {
  @include display-flex;

  #article-main-content {
    width: 100%;
    flex-basis: 65%;
    padding-left: 10%;
    padding-right: 0;
  }
}

#article-content-container {
  font: 16px $base-font-family-thin;
  color: $text-color;

  #article-pullquote {
    flex-basis: 30%;
    font: 20px $base-font-family-extra-thin;
    color: #a9a9a9;
    line-height: 34px;
    margin-top: 3.5em;
  }

  #article-main-content {
    width: 70%;
    margin: auto;
    margin-top: 3.5em;
    line-height: 32px;

    /* Since we're using a CSS reset, apply bare elements' margins for posts only */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1em;
    }

    ol,
    ul {
      margin: 1em;
      padding: 1em;
    }

    p {
      margin-bottom: 1em;
    }
  }
}
