.gtc-post {
  @include content-padding;

  #page-header.post-charity-image-flex {
    #page-title-container {
      flex-basis: 50%;
    }

    #charities-logo-container {
      flex-basis: 50%;
      justify-self: flex-start;
      text-align: right;

      img {
        height: 45px;
        width: auto;
      }
    }
  }

  #page-header {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 2em;

    #page-subtitle {
      margin-top: 16px;
    }
  }
}

/* Article Content */
#article-hero {
  height: auto;
  width: 100%;
  margin-bottom: 3.5em;
}

#article-content-container.post-pullquote-flex {
  @include display-flex;

  #article-main-content {
    flex-basis: 65%;
    padding-left: 10%;
    padding-right: 0;
  }
}

#article-content-container {
  font: 16px $base-font-family-thin;
  color: $text-color;
  line-height: 35px;

  #article-pullquote {
    flex-basis: 25%;
    font: 14px $base-font-family;
    color: #8a8a8a;
    line-height: 28px;
  }

  #article-main-content {
    /* Since we're using a CSS reset, apply bare elements' margins for posts only */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1em;
    }

    ul {
      margin: 1em;
      padding: 1em;
    }

    p {
      margin-bottom: 1em;
    }
  }
}
