#charities{
  @include content-padding;

  h2{
    font-family:$base-font-family-extra-thin;
    font-size:30px;
    color:$c1_blue;
    margin-left:5%;
  }

  h3{
    font-family:$base-font-family-extra-thin;
    font-size:24px;
    color:$c1_blue;
    margin-left:5%;
  }

  #charity-content{
    width:100%;
    //background-image:linear-gradient(toleft,#2C3E504%,#4CA1AF100%,#2C3E50100%);
    background-image:linear-gradient(-180deg,#3023AE 25%,#C86DD7 100%);
    //background-image:linear-gradient(toleft,#3023AE4%,#C86DD7100%,#3023AE100%);
    border-radius:2px;
    padding:116px 96px 116px 96px;
    color:#fff;
    font-family:$base-font-family-extra-thin;

    .tagline{
      font-size:36px;
    }

    .description{
      font-size:20px;
    }
    .charity-info{
      font-size:18px;
      margin-top:8px;
      margin-bottom:8px;
    }

    .charity-info:hover p{
      color:black;
    }
    &:hover{
      //transform:scale(1.1);
      box-shadow:5px 5px 5px #1a3d54;
      //position:absolute;
      opacity:0.95;
      z-index:1;
      //background-image:linear-gradient(-180deg,rgba(0,0,0,0)1%,#00010%);
      transform:scale(1.02);
      transition:all 0.3s;
      text-rendering:optimizeLegibility;
      -webkit-font-smoothing:subpixel-antialiased;

    }



  }

  #charity-alternate-content{
    width:100%;
    background-image:linear-gradient(-180deg,$c1_blue 25%,#26a0da 100%);
    //background-image:linear-gradient(toleft,$c1_blue4%,#26a0da100%,$c1_blue100%);
    border-radius:2px;
    padding:116px 96px 116px 96px;
    color:#fff;
    font-family:$base-font-family-extra-thin;

    .tagline{
      font-size:36px;
    }

    .description{
      font-size:20px;
    }

    .charity-alternate-info{
      font-size:18px;
      margin-top:8px;
      margin-bottom:32px;
    }

    .charity-alternate-info:hover p{
      color:black;
    }
    &:hover{

      box-shadow:5px 5px 5px #1a3d54;

      opacity:0.95;
      z-index:1;
      transform:scale(1.01);
      //transform:translate3d(-5px,-5px,0);
      transition:all 0.3s;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing:subpixel-antialiased;
      background-position:right center;
    }

    &.hover--ending{
      //transition:box-shadow0.5sease;

    }


  }
  .img-circle-small{
    border-radius:50%;
    height:75px;
    width:75px;

  }

  .img-circle-large{
    border-radius:50%;
    height:200px;
    width:200px;
  }

}