#charities{
  @include content-padding;

  h2{
    font-family:$base-font-family-extra-thin;
    font-size:30px;
    color:$c1_blue;
    margin-left:2%;
  }

  h3{
    font-family:$base-font-family-extra-thin;
    font-size:24px;
    color:$c1_blue;
    margin-left:2%;
  }

  .indiv-charity-heading {
    font-family: Optimist Extra Thin;
    font-size: 45px;
    color: #004977;
    letter-spacing: 0;
    line-height: 57px;
    margin-bottom: 2%;
  }

  .indiv-charity-sub-heading {
    font-family: Optimist Thin;
    font-size: 18px;
    color: #4A4A4A;
    letter-spacing: 0;
    margin-bottom: 2%;
  }

  #indiv-charity-content{
    font: 24px $base-font-family-thin;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 45px;
    margin-left: 1%;
    margin-right: 1%;
  }

  .indiv-charity-image {
    font-family: Optimist Extra Thin;
    opacity: 1;
    width: 100%;
    height: auto;
  }

  #charity-quote {
    font: 32px $base-font-family-thin;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 50px;
    margin-left: 1%;
    margin-right: 1%;
  }

  .flex-item {
    @include display-flex;
    flex-direction: row;
  }

  #charity-content{
    width:100%;
    //background-image:linear-gradient(toleft,#2C3E504%,#4CA1AF100%,#2C3E50100%);
    background-image:linear-gradient(-180deg,#3023AE 25%,#C86DD7 100%);
    //background-image:linear-gradient(toleft,#3023AE4%,#C86DD7100%,#3023AE100%);
    border-radius:2px;
    padding:116px 96px 116px 96px;
    color:#fff;
    font-family:$base-font-family-extra-thin;

    .tagline{
      font-size:36px;
    }

    .description{
      font-size:20px;
    }
    .charity-info{
      font-size:18px;
      margin-top:8px;
      margin-bottom:8px;
    }

    .charity-info:hover p{
      color:black;
    }
    &:hover{
      @include easeinout-transition(350ms);
      box-shadow: 0px 2px 2px 0px rgba(25, 25, 25, 0.5);
      //position:absolute;
      opacity:0.95;
      z-index:1;
      transform:scale(1.01);
      text-rendering:optimizeLegibility;
      -webkit-font-smoothing:subpixel-antialiased;

    }



  }

  #charity-two-content {
    width: 100%;
    background-image: linear-gradient(-180deg, $c1_blue 25%, #26a0da 100%);
    //background-image:linear-gradient(toleft,$c1_blue4%,#26a0da100%,$c1_blue100%);
    border-radius: 2px;
    padding: 116px 96px 116px 96px;
    color: #fff;
    font-family: $base-font-family-extra-thin;

    .tagline {
      font-size: 36px;
    }

    .description {
      font-size: 20px;
    }

    .charity-two-info {
      font-size: 18px;
      margin-top: 8px;
      margin-bottom: 32px;
    }

    .charity-two-info:hover p {
      color: black;
    }
    &:hover {
      @include easeinout-transition(350ms);
      box-shadow: 0px 2px 2px 0px rgba(25, 25, 25, 0.5);
      opacity: 0.95;
      z-index: 1;
      transform: scale(1.01);
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: subpixel-antialiased;
    }
  }

    #charity-three-content {
      width: 100%;
      //background-image: linear-gradient(-180deg, #FF4444 25%, #DD5151 60%);
      background-image: linear-gradient(-180deg, #E02843 0%, #ED7B96 100%);
      border-radius: 2px;
      padding: 116px 96px 116px 96px;
      color: #fff;
      font-family: $base-font-family-extra-thin;

      .tagline {
        font-size: 36px;
      }

      .description {
        font-size: 20px;
      }

      .charity-three-info {
        font-size: 18px;
        margin-top: 8px;
        margin-bottom: 32px;
      }

      .charity-three-info:hover p {
        color: black;
      }
      &:hover {
        @include easeinout-transition(350ms);
        box-shadow: 0px 2px 2px 0px rgba(25, 25, 25, 0.5);
        opacity: 0.95;
        z-index: 1;
        transform: scale(1.01);
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: subpixel-antialiased;
      }
    }


  .img-circle-small{
    border-radius:50%;
    height:75px;
    width:75px;

  }

  .img-circle-large{
    border-radius:50%;
    height:200px;
    width:200px;
  }

}