#charities {
  @include content-padding;

  h2 {
    font-family: $base-font-family-extra-thin;
    font-size: 30px;
    color: $c1_blue;
    margin-left: 5%;
  }

  h3 {
    font-family: $base-font-family-extra-thin;
    font-size: 24px;
    color: $c1_blue;
    margin-left: 5%;
  }

  #charity-content {
    width: 100%;
    background-color: $c1_blue;
    border-radius: 2px;
    padding: 116px 96px 116px 96px;
    color: #fff;
    font-family: $base-font-family-extra-thin;
    margin: 8px;

    .tagline {
      font-size: 36px;
    }

    //.tagline:hover{
    //  color: red;
    //  opacity: 0.8;
    //}

    .description {
      font-size: 20px;
    }
    .charity-info {
      font-size: 18px;
      margin-top: 8px;
      margin-bottom: 8px;
    }

    .charity-info:hover p {
      color: black;
    }
    &:hover {
      //transform: scale( 1.1 );
      box-shadow: 10px 10px 10px #1a3d54;
      //position:absolute;
      opacity: 0.98;
      z-index: 1;
      //background-image: linear-gradient(-180deg, rgba(0,0,0,0) 1%, #000 10%);
      transform: translate3d(-5px, -5px, 0);
      transition: all 1s;
      transition: all 1s;

    }

  }

  #charity-alternate-content {
    width: 100%;
    background-color: $c1_blue;
    border-radius: 2px;
    padding: 116px 96px 116px 96px;
    color: #fff;
    font-family: $base-font-family-extra-thin;
    margin: 8px;

    .tagline {
      font-size: 36px;
    }

    //.tagline:hover{
    //  color: red;
    //  opacity: 0.8;
    //}
    .description {
      font-size: 20px;
    }

    .charity-alternate-info {
      font-size: 18px;
      margin-top: 8px;
      margin-bottom: 32px;
    }

    .charity-alternate-info:hover p {
      color: black;
    }
    &:hover {
      //transform: scale( 1.1 );
      box-shadow: 10px 10px 10px #1a3d54;
      //position:absolute;
      opacity: 0.98;
      z-index: 1;
      //background-image: linear-gradient(-180deg, rgba(0,0,0,0) 1%, #000 10%);
      transform: translate3d(-3px, -3px, 0);
      transition: all 1s;
    }

    &.hover--ending {
      //transition: box-shadow 0.5s ease;
    }

  }

}
