#landing-page {
  @include display-flex;
  flex-direction: column;
  width: 100%;
  overflow-x: none;
  background-color: white;
}

#hero {
  min-height: 550px;
  margin: 3em 7em 7em 7em;
  position: relative;

  #hero-interactive {
    height: 300px;
    width: auto;
    position: absolute;
    top: 125px;
    right: -75px;
    z-index: 7;
  }

  #hero-mosaic {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  #content {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    border-radius: 2px;
    padding: 116px 96px 116px 96px;
    color: #fff;
    font-family: $base-font-family-extra-thin;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    #tagline h1 {
      @include easeinout-transition(350ms);
      font-size: 32px;
    }

    #event-info {
      font-size: 16px;
      margin-top: 8px;
      margin-bottom: 32px;
    }

    #event-info.hero-animate-in {
      animation-delay: 500ms;
    }

    #hero-register-cta {
      margin-bottom: 16px;
    }

    #hero-register-cta.hero-animate-in {
      animation-delay: 750ms;
    }

    #learn-more {
      font-size: 14px;
      color: #fff;
      display: inline-block;
      margin-left: 14px;
    }

    #learn-more.hero-animate-in {
      animation-delay: 900ms;
    }
  }
}

/* Hero Animations */
.hero-animate-in {
  animation: hero-animate-in 1.5s;
  animation-fill-mode: both;
}

@keyframes hero-animate-in {
  from {
    opacity: 0;
    transform: translateY(35px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
