---
layout: default
---

<div id="gtc-article" class="gtc-page gtc-post">
  {% if page.category == 'charities' %}
    <div id="page-header" class="post-charity">
  {% else %}
    <div id="page-header">
  {% endif %}
      <div id="page-title-container">
        {% unless page.category == 'charities' %}
        <p id="page-date" class="anchored-title">{{ page.date | date: "%B %-d, %Y" }}</p>
        {% endunless %}
        <h1 id="page-title">{{ page.title }}</h1>
          <p id="page-subtitle">{{ page.subtitle }}</p>
        <p id="page-subtitle">{{ page.description }}</p>
    	</div>

    {% if page.category == 'charities' %}
		<div id="charities-logo-container">
			<img class="charity-logo" src="{{ site.baseurl }}{{ page.image }}" />
		</div>
    {% endif %}
  </div>

	<article id="article-container">
		<img id="article-hero" src="{{ site.baseurl }}{{ page.hero }}" />

    {% if page.pullquote %}
		<div id="article-content-container" class="post-pullquote-flex pullquote">
    {% else %}
    <div id="article-content-container">
    {% endif %}
      {% if page.pullquote %}
      <div id="article-pullquote" class="post-pullquote-flex">
        {{ page.pullquote }}
      </div>
      {% endif %}

      <div id="article-main-content">
		     {{ content }}
      </div>
		</div>
	</article>
</div>
